* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0px 20px;
}